$menuli: red pink!default;

body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

ul{
	margin: 0;
	padding: 0;
	li{
		text-decoration: none;
	}
}

.head{
	background-color: #3399f3;
	color: #fff;
	overflow: hidden;
	padding: 0 15%;
	height: 44px;
	.brand-con{
		float: left;
		h1{
			margin: 0; padding: 0;
		}
	}
	.menu-con{
		float: right;
		ul li{
			display:inline-block;line-height: 44px;cursor: pointer;background-color: nth($menuli,1);transition: padding 0.5s ease;
			&:hover{
				background-color: nth($menuli,2);padding-left: 15px;padding-right: 15px;
			}
		}
	}
}

.body-block{
	.scroll-con{
		overflow-x:scroll;
		-webkit-overflow-scrolling:touch;
		overflow: hidden;
		height: 500px;
		white-space: nowrap;
		div{
			width: 100%;height: 500px;display: inline-block;
			&:nth-child(1){background-color:red;}
			&:nth-child(2){background-color:blue;}
			&:nth-child(3){background-color:pink;}
		}
	}
}

@media (max-width: 768px){
	.head{
		padding: 0 15px;background-color: #333;
	}
}
